$fontMap: (
  fontSourseSansPro: 'Source Sans Pro',
  fontHind: 'Hind',
  fontFresca: 'Fresca',
);
$headerBgImmage: url(../img/m-h-night.jpg);
$contentBg: #21232e;
$headerTextColor: #fff;
$titleColor: #fff;
$cardTextColor: #92939b;
$cardTitleColor: #fff;
$underLineTextColor: #ff4e33;
$buttonTextColor: #f2f3f7;
$buttonColor: #e3ac00;
$cardColor: #3b3f50;
$footerTextColor: #d1d1d1;
$footerColor: #3b3f50;
$bannerTextColor: #d1d1d1;
$bannerGradient: linear-gradient(to right, #dca206, #96324f);